<h1>Trackbone</h1>

<hr>

<div class="container">
  <div id="new-projects"></div>
  <div id="projects"></div>
</div>

<div class="container">
  <div id="new-features"></div>
  <div id="features"></div>
</div>

<div class="container">
  <div id="new-bugs"></div>
  <div id="bugs"></div>
</div>


<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new Trackbone.Routers.ProjectsRouter(
      { projects: <%= @projects.to_json.html_safe -%> }
    );
    Backbone.history.start();
  });
</script>