<h1>New bug</h1>

<form id="new-bug" name="bug">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Bug" />
  </div>

</form>

<a href="#/index">Back</a>